.form-container {
  margin: 0 auto;
  width: 100%;
}

.form {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
}

.form .input label {
  display: block;
  margin: 10px 0 5px;
}

.form .input input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  display: block;
  font-size: 1em;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 8px;
  width: 100%;
  box-sizing: border-box;
}

.form .controls button {
  background-color: green;
  border: 2px solid green;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 2em;
}
