.book {
  margin: 20px;
  position: relative;
  z-index: 1;
}

.book .book-shape {
  align-items: center;
  background: white; 
  border: 1px solid rgb(218, 221, 220);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 200px;
  z-index: 4;
}

.book .book-shape::before {
  background: white;
  border: 1px solid rgb(218, 221, 220);
  border-radius: 3px;
  content: '';
  cursor: pointer;
  height: 250px;
  left: 2.5px;
  padding: 20px;
  position: absolute;
  top: 2.5px;
  width: 200px;
  z-index: 2;
}

.book .book-shape::after {
  background: white;
  border: 1px solid rgb(218, 221, 220);
  border-radius: 3px;
  content: '';
  cursor: pointer;
  height: 250px;
  left: 7.5px;
  padding: 20px;
  position: absolute;
  top: 7.5px;
  width: 200px;
  z-index: 3;
}

.book .book-shape .title,
.book .book-shape p {
  position: relative;
  z-index: 10;
}

.book .book-shape:hover,
.book .book-shape:hover::before,
.book .book-shape:hover::after {
  border: 1px solid rgb(180, 184, 182);
}