<section class="form-container">
  <% unless params.valid? %>
    <div class="errors">
      <h3>There was a problem with your submission</h3>
    </div>

    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%=
    form_for :user, path, method: method, class: :form do
      div class: 'input-group' do
        label :email
        text_field :email, value: respond_to?(:user) ? user.email : ''
      end

      div class: 'input-group' do
        label :password
        password_field :password
      end

      div class: 'controls' do
        submit submit_message
      end
    end
  %>
</section>
