<nav>
  <h1><%= link_to 'Bookshelf', routes.books_path %></h1>
  <section class="tools">
    <a href="<%= routes.new_book_path %>">
      <button class="tool">Add Book</button> 
    </a>
  </section>
</nav>
