<nav>
  <h1><%= link_to 'Bookshelf', routes.books_path %></h1>
  <section class="tools">
    <a href="<%= routes.new_book_path %>">
      <button class="tool button button-default">Add Book</button> 
    </a>

    <a href="">
      <button class="tool button button-default button-round">AV</button> 
    </a>
  </section>
</nav>
