<nav>
  <h1><%= link_to 'Bookshelf', routes.books_path %></h1>
  <section class="tools">
    <a href="<%= routes.new_book_path %>">
      <button class="tool button button-default">Add Book</button> 
    </a>

    <a class="dropdown">
      <button
        class="tool button button-default button-round button-drop"
        id="buttonDrop"
      >
        AV
      </button> 
      <div id="myDropdown" class="dropdown-content">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </a>
  </section>
</nav>
