<section class="book-details">
  <section class="detail">
    <h3>Title</h3>
    <p><%= book.title %></p>
  </section>

  <section class="detail">
    <h3>Author</h3>
    <p><%= book.author %></p>
  </section>

  <section class="detail">
    <h3>Description</h3>
    <p><%= book.description %></p>
  </section>
</section>
