<h2>Edit book</h2>

<div class="breadcrumbs">
  <p>
    <%= link_to 'All books', routes.books_path %> /
    <%= link_to book.title,  routes.book_path(book.id) %> /
    Edit
  </p>
</div>

<%=
  render partial: 'form',
  locals: { path: routes.book_path(book.id), book: book, method: :patch }
%>
