<h2>All Books</h2>

<% if books.any? %>
  <div id="books"class="books-gallery">
    <% books.each do |book| %>
      <a
        class="book-wrapper"
        id="book-wrapper-<%= book.id %>"
        href="<%= routes.book_path(book.id) %>"
      >
        <%= render partial: 'book', locals: { book: book } %>
      </a>
    <% end %>
  </div>
<% else %>
  <div class="placeholder">
    <p>There are no books yet.</p>

    <section class="tools">
      <a href="<%= routes.new_book_path %>">
        <button class="tool">Add Book</button> 
      </a>
    </section>
  </div>
<% end %>
