<h2>All Books</h2>

<% if books.any? %>
  <div id="books"class="books-gallery">
    <% books.each do |book| %>
      <div class="book-wrapper">
        <%= render partial: 'book', locals: { book: book } %>
        <section class="tools">
          <%= link_to 'View', routes.book_path(id: book.id) %>
          <%= 
            form_for :book, routes.book_path(id: book.id), method: :delete do
              submit 'Delete'
            end
          %>
        </section>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>

<%= link_to 'Add Book', routes.new_book_path %>
