body {
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

nav a {
  color: white;
}

.container {
  margin: 32px;
}

.placeholder {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(80vh - 32px - 68px);
}

.button-drop {
  background-color: #3498DB;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

.button-drop:hover,
.button-drop:focus {
  background-color: #2980B9;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 10;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content .dropdown-item {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-content form {
  width: 100%;
}

.dropdown-content button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}