body {
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

nav a {
  color: white;
}

.container {
  margin: 32px;
}

.placeholder {
  align-items: center;
  min-height: calc(80vh - 32px - 68px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
