<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
    <%= stylesheet :application %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
  </body>
</html>
