<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
    <%= stylesheet :application %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
